//Colors
$panelBackground: #1A2228;
$textColor: #FFFFFF;
$fadedColor: #747A85;
$activeColor: #FFFFFF;

//Fonts
$font: 'Ubuntu', sans-serif;
$labelWeight: 700;
$labelSize: 10px;

$desktopWidth: 250px;
$panelPadding: 5px;
//Color list options
$listNumberOfElements: 8;
$listPadding: 5px;

//Popup
$popUpZIndex: 10000;